body {
  margin: 0px;
}

header {
  background-color: #113448;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*background-color: #343330;*/
  background: #4d5359;
  padding: 20px;
  color: #f1f1f1;
}

.navul {
  list-style-type: none;
  padding: 0;
}

article {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  background-color: #f1f1f1;
  padding: 10px;
}

.article-alg {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  background-color: #f1f1f1;
  padding: 15px;
  padding-right: 40px;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #cccccc;
  padding: 2px;
  font-size: 100%;
}

.codediv {
  margin-top: 20px;
  margin-right: 40%;
  font-family: Consolas,"courier new";
  color: #204A87;
  background-color: #cccccc;
  padding: 2px;
  font-size: 95%;
}

.codedivimg {
  margin-top: 20px;
  margin-right: 0px;
  font-family: Consolas,"courier new";
  color: #204A87;
  background-color: #cccccc;
  padding: 2px;
  font-size: 95%;
}

.imgcode {
  margin: 30px;
}

.imgtext {
  margin: 0px;
  margin-left: 20px;
}

div {
  font-size: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.generaldiv {
  margin: 20px;
  font-size: 110%;
}

p {
  margin: 5px;
}

h4 {
  margin: 10px;
}

em {
  color: purple;
}

.navgeneral {
  background-color: #14bf98;
  width: 30%;
  padding: 15px;
  margin: 5px;
  text-align: center;
  border: 2px solid #14bf98;
  border-radius: 15px;
}

.divflex {
  display: flex;
  margin: 0px;
}

.divnoflex {
  display: solid;
  margin: 0px;
}

.divsep {
  margin: 0px;
  width: 10%;
}

.div-0 {
  margin: 0px;
}

.div-5 {
  margin: 5px;
}

.div-10 {
  margin: 0px 0px 0px 10px;
}

.div-20 {
  margin: 20px 0px 20px 0px;
}

.mxgraph {
  width: 300%;
  height: 300%;
}

.geDiagramContainer {
  width: 150%;
  height: 150%;
}

.hr70 {
  width: 70%;
}

.a-null {
  color: #f1f1f1;
  text-decoration: none;
}

.ul-null {
  margin: 0px;
}

.table-a {
  border: 1px solid;
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
}

.td-a {
  border: 1px solid;
  text-align: left;
  padding: 8px;
}

.td-text {
  border: none;
  text-align: left;
  padding: 8px;
}

.td-b {
  border: 1px solid;
  text-align: center;
  padding: 8px;
}

td {
  text-align: center;
}

.th-a {
  border: 1px solid;
  text-align: left;
  padding: 8px;
}

.th-b {
  border: 1px solid;
  text-align: center;
  padding: 8px;
}

.acomment {
  color:#2F5C04;
}
